body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to left, #008081, #57C3AD);
  color: white;
}

.intro {
  float: left;
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #d5b9f2);
  color: white;
  width: 100%;
  height: 200px;
  margin: 5px;
  border-radius: 10px;
}

.intro a{
 color: teal;
}

.picofme{
  border: 3px solid rgb(195, 195, 245);
  border-radius: 10px;
  display: block;
  float: right;
  height: 200px;

}

.aboutme{
  float: left;
  width: 100%;
  border: 3px solid rgb(195, 195, 245);
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  background-image: linear-gradient(to left, #008081, #57C3AD);
}

.aboutme a{
  color: rgb(195, 195, 245);
}

.projects{
  float: left;
  width: 100%;
  border: 3px solid rgb(195, 195, 245);
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  background-image: linear-gradient(to left, #553c9a, #d5b9f2)
}

.projects a {
  color: teal;
}

.background{
  float: left;
  width: 100%;
  border: 3px solid rgb(195, 195, 245);
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  background-image: linear-gradient(to left, #008081, #57C3AD);
}

.background a {
  color: rgb(195, 195, 245);
}

.hobby{
  float: left;
  width: 100%;
  border: 3px solid rgb(195, 195, 245);
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  background-image: linear-gradient(to left, #553c9a, #d5b9f2)
}

h4{
  text-decoration: underline;
}

.wineglass{
float: left;
display: block;
margin: 7%;
border: 3px solid teal;
height: 200px;
width: 200px;
border-radius: 10px;
}

.funnycat{
float: left;
display: block;
margin: 7%;
border: 3px solid teal;
height: 200px;
width: 200px;
border-radius: 10px;
}

.guitar{
float: left;
display: block;
margin: 7%;
border: 3px solid teal;
height: 200px;
width: 200px;
border-radius: 10px;
}

.hobbyimg{
  overflow: hidden;
  animation-duration: 5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.wonder{
  font-family: cursive;
  font-style: oblique;
}

.sme{
  border: 3px solid rgb(195, 195, 245);
  width:200px;
  height: 200px;
  display: block;
  float: right;
  position: relative; 
  right: 5%;
  margin: 5px;
  border-radius: 10px;
}

.miami{
  border: 3px solid rgb(195, 195, 245);
  width:200px;
  height: 200px;
  display: block;
  float: right;
  position: relative; 
  right: 5%;
  margin: 5px;
  border-radius: 10px;
}

.wsg{
  border: 3px solid rgb(195, 195, 245);
  width:200px;
  height: 200px;
  display: block;
  float: right;
  position: relative; 
  right: 5%;
  margin: 5px;
  border-radius: 10px;
}
